html, body {
	font-family: 'Raleway',sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
	background-color: #272727 !important;
	background-image: url(../images/bg-pattern.png);
	background-repeat: repeat;
}

.nvidia {
	color: #047400;
}

.amdgpu {
	color: #B30002;
}
h4 {
    color: red !important;
}

.dropdown-item:focus, .dropdown-item:hover {
     color: #1d1e1f !important;
}

.progress, .progress-bar {
    border-radius: 0 !important;
}

.minerID {
	font-weight: bold;
	font-size: 1.5rem;
}

th {
	white-space: nowrap;
	width: 1%;
}

.form-group {
    margin-bottom: 0 !important;
}

#miner3_pwr .slider-selection {
	background: #BABABA;
}

#search {
	border: 1px solid #5cb85c;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa-spinner {
  display: none;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  text-align: center;
}

/* align icon */
.left-addon .fa-spinner  { left:  0px;}
.right-addon .fa-spinner {
	right: 0px;
	top: calc(25%);
	font-size: 20px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.fa-spin-custom, .fa, .fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@font-face {
    font-family: digital;
    src: url(../fonts/DS-DIGI.TTF);
    font-weight: normal;
}
#id {
	font-size: 50px;
	font-family: digital;
	color: aqua;
}
#intro{
	background-color: #018e64;
}
.easy_steps{
	display: inline-block; 
	text-align: left; 
	max-width: 700px;
}

.summary_wrapper{
	display: inline-block; 
	text-align: center;
	margin-bottom: 25px;
}
.summary_block{
	background-color: #DCDCDC;
	height: auto;
	width: auto;
	margin: 5px;
	border: 2px solid;
	border-color: #4D4D4D;
		/*border-radius: 6px;
float: left;*/
	display: inline-block;
	position:relative;
	text-align: center;
	color: #2F2F2F;
	min-width: 250px;


}

.summary_miner{
	
	background-color: #3F3F3F;
	color: #E4DCDC;
	border-bottom: 1px solid;
	border-color: #4D4D4D;
	padding: 25px;
	
}

.summary_miner h6{
	font-style: italic;
}
.summary_info {
	border-bottom: 1px solid;
	border-color: #4D4D4D;
	padding: 10px;
}

.in_brackets{
	font-style: italic;
	font-size: 13px;
}
